{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-success">Thông tin chi tiết chuyến bay</h1>

<div class="detail-flight">


        <div class="col-md-8 col-sm-6">
            <h1>{{ flight.name }}</h1>
            <p>Tuyến bay: {{ flight.airlines.name }}</p>
            <p>Khởi hành tại: {{ flight.airlines.from_airport.name }}</p>
            <p>Thời gian đi: {{ flight.departing_at }}</p>
            <p>Thời gian đến: {{ flight.arriving_at }}</p>
            <p>Hãng bay: {{ flight.planes.manufacturer }}</p>

            {%if Flight_AirportMedium  %}
                {% for m in Flight_AirportMedium %}
                    <hr>
                    <p>Tên trạm dừng: {{m}}</p>
                    <p>Dừng tại: {{m.airports.name}}</p>
                    <p>Thông báo: {{m.description}}</p>
                {% endfor %}
            {%else%}
                <p>Bay thẳng </p>
            {% endif%}
            <hr>
            <form>
                <div>
                    <label for="rank">Hạng vé:</label>
                    <select name="rank" id="rank">
                        <option value="1">Hạng 1</option>
                        <option value="2">Hạng 2</option>
                    </select>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-4">
                        <span>Người lớn</span>
                        <input type="number" class="form-control" name="adult"
                                value="1" min="0" max="10" step="1" style="width: 100%"/>
                    </div>
                    <div class="col-md-4">
                        <span>Trẻ em</span>
                        <input type="number" class="form-control" name="children"
                                value="0" min="0" max="10" step="1" style="width: 100%"/>
                    </div>

                </div>
                <button class="block curser-pointer flex flex-nowrap btn-choose"
                        style="height: 35px">ĐẶT MUA</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}